ul.links {
  padding: 0;
  margin: 20px 0 20px 0px;
  float: left;
}

ul.links li {
  display: block;
  list-style-type: none;
  list-style-image: none;
  float: left;
  padding: 5px;
  border: 1px solid #000;
  margin-right: 10px; 
}

ul.tabs {
  padding: 0;
  margin: 0;
  clear: left;
}
