/**
 * This is where reuseable css components go.
 */

.horizon {
  border: 1px dashed black;
  padding: 10px;
}

.horizon-odd {
  background-color: #fff;
}

.horizon-even {
  background-color: #E0E0E0;
}
